{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

   <div class = "container book-container">

     <div class="row">
       <div class="col-md-5">
         <img src="{% static 'feedback.png' %}" width = "280" class="img-fluid">
         <br><br><br>
         <h3>Create a Booking</h3>
       </div>
       <div class="col-md-7">
         <form action="{% url 'createbooking' %}" method="POST">
           {% csrf_token %}
           {{ booking_form|crispy }}
           <input type="submit" class="btn btn-outline-success" value="Submit">
         </form>
       </div>
     </div>
  </div>

{% endblock %}
