{% extends 'base.html' %}
 {%  load static %}
{% block content %}

<h1 class="display-4 text-center">ABOUT MEMBERS</h1>
   <div class="container mt-5">
     <div class="row">
       <div class="col-md-3">
         <div class="card" style="width: 17rem;">
          <img src="{{booking.user.booker.dp.url}}" class="card-img-top" width="35">
           <div class="card-body">
          <h5 class="card-text"><i>Username:</i> {{booking.user.username}}</h5>
          <h5 class="card-text"><i>Email:</i> {{booking.user.email}}</h5>
          <h5 class="card-text"><i>Hostel:</i> {{booking.user.booker.hostel}}</h5>
          <p class="float-right"><i>Creator</i></p>
           </div>
          </div>
       </div>
       {% for any in booking.members.all %}
       <div class="col-md-3">
         <div class="card" style="width: 17rem;">
          <img src="{{any.user.booker.dp.url}}" class="card-img-top" width="35">
           <div class="card-body">
          <h5 class="card-text"><i>Username:</i> {{any.user.username}}</h5>
          <h5 class="card-text"><i>Email:</i> {{any.user.email}}</h5>
          <h5 class="card-text"><i>Hostel:</i> {{any.user.booker.hostel}}</h5>
           </div>
          </div>
       </div>
       {% endfor  %}
     </div>
    </div>

{% endblock %}
