{% extends 'base.html' %}
 {% load crispy_forms_tags %}
 {%load static%}
{% block content %}

   <div class="row">
     <div class="col-md-2">
       <img src="{% static 'taxi.png' %}"  width="80" class="img-fluid">
     </div>
     <div class="col-md-10">
       <h1 class="display-4">All Bookings</h1>
     </div>

   </div>

   {% for booking in books.all   %}
   <div class="card w-75 border-success mt-4">

  <div class="card-body text-success">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-title">{{booking.pickup}} to {{booking.destination}}</h3>
        <h6>Time: {{booking.time}}</h6>
        <h6>Date: {{booking.date}}</h6>
        <h6>Members: {{booking.peopletogether}}</h6>
        <h6>Budget: {{booking.budget}}</h6>
        <h6>luggage: {{booking.luggage}}</h6>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block float-right">Join</a>
        <br><br>
        <a href="#" class="btn btn-danger btn-block float-right" >Leave</a>
        <br><br>
        <a href="#" class="btn btn-warning btn-block float-right">Chat</a>
        <br><br>
        <a href="#" class="btn btn-secondary btn-block float-right">Info</a>

      </div>
    </div>
   </div>
   </div>

   {%  endfor %}
{% endblock %}
