{% extends 'base.html' %}
 {% load static %}
 {% load crispy_forms_tags %}            <!-- important to add -->
{% block content %}


      <div class = "container login-container">
        <div class="row">
          <div class="col-md-5">
             <img src="{% static 'login.png' %}" width = "300" class="img-fluid">
          </div>
          <div class="col-md-7">
            <h2>Login</h2>
            <hr>
         <form action="{% url 'signin' %}" method="POST">
           {% csrf_token %}
           {{form|crispy}}
           <input type="submit" class="btn btn-outline-primary" value="Submit">
         </form>
         <br>
         <p>Don't have an account? Click here to <a href="{% url 'signup' %}">Register</a></p>
          </div>
        </div>
     </div>
{% endblock %}
